# python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

#venv
atlas.venv/
atlas_final_env/
final_env/
my_new_env/
.venv/
venv/

# prmon Outputs & Data 
prmon.log
prmon.json
data/*.txt
data/*.json

# vs code
.vscode/
.DS_Store
Thumbs.db
